spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sw
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect  # 수정된 부분
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000

  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: jcp7VcJNvj9p_6zPztTH
            client-secret: Y3bDgsKrPX
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
            client-name: Naver
          kakao:
            client-authentication-method: client_secret_post
            client-id: 5eea303692395e4d36e5eff8b6133ea6
            client-secret: LxA67TvEovut6iCUEeOpl6Ti1OJaG4iI
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            scope: profile_nickname
            client-name: Kakao
          google:
            client-id: 1040270296909-o0i0g380aeg7u52aq5umj7dvuuam8mp7.apps.googleusercontent.com
            client-secret: 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
            scope:
              - profile
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
  jwt:
    issuer: "codnrud99@skuniv.ac.kr"
    secret: "0SE/1s6T59aT75/Du/QMFTSLUTy+iU1eSlf7Sv3G+ZI="
    access-token-expiration-millis: 900000
    refresh-token-expiration-millis: 604800000
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
logging:
  level:
    root: INFO  # 전체 로그 레벨 설정
    org.springframework.web: DEBUG  # Spring Web 로그 디버깅 활성화
    sw_workbook.spring: DEBUG  # 네임스페이스에 따라 설정 (네임스페이스는 네가 만든 패키지 기준)
  file:
    name: logs/app.log
